/* ==== Major fixes start here ==== */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Inter', sans-serif;
}
/* ==== Major fixes ends here ==== */


/* ==== First section start here ==== */
.firstsection{
    height: 85vh;
    /* border: 3px solid var(--black-color); */
    display: flex;
  
}
.firstsection-leftdiv{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    width: 50%;
    background: var(--gray-color);
}
.firstsection-rightdiv{
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, rgba(244, 107, 69,0.3),rgba(255, 99, 71,0.3)),url("./images/image1.jpg");
    background-size: cover;
    background-position: bottom left;
    
}
.link-holder{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: var(--whtie-color);
    padding: 20px 0;
}
.logo{
    margin-bottom: 30px;
}
span {
    color: var( --main-color);
}
.line{
    background: var(--main-color);
    padding: 8px;
    width: 224px;
}
.heading-writeup{
    margin: 30px 0;
    /* border: 3px solid black; */
}
/* ==== First section ends here ==== */

/* ==== second section start here ==== */
.secondsection {
    /* height: 300px; */
    /* border: var(--Blackborder); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
}
.secondsection-leftdiv {
    height: 400px;
    width: 310px;
    background: var(--gray-color);
    padding: 40px 20px;
    text-align: center;
}
.secondsection-leftdiv p {
    text-align: left;
    margin: 20px 0;

}

.secondsection-rightdiv {
    height: 460px;
    width: 340px;
    background: var(--main-color);
    margin-left: 20px;
}
/* ==== second section ends here ==== */
/* ==== third section start here ==== */
.Thirdsection {
/* border: var(--Blackborder); */
/* height: 300px; */
padding: 30px 0;
display: flex;
justify-content: center;
flex-wrap: wrap;
background: var(--gray-color);
}
.Thirdsection-leftdiv {
    height: 460px;
    width: 340px;
    background: var(--gray-color);
   
}
.Thirdsection-rightdiv{
    padding: 40px 20px;
    height: 460px;
    width: 340px;
    background: var(--main-color);

}
.Thirdsection-rightdiv p{
   margin: 20px 0;
   text-align: left;
}
/* ==== third section ends here ==== */
/* ==== Footer section start here ==== */
footer{
    color: var(--whtie-color);
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.footericon-container{
    /* height: 100px; */
    width: 200px;
    /* border: var( --Blackborder); */
    text-align: center;
}
.footericon{
    font-size: 25px;
    margin: 0 5px;
}
/* ==== Footer section ends here ==== */
